{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Thư viện Select2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

        <!--favicon-->
        <!-- <link rel="icon" type="image/png" href="{%static 'images/favicon.ico' %}"> -->
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <!--css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-overlay/bsb-overlay.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/background/background.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/margin/margin.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link href="{%static 'app/css/all.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/owl.carousel.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'app/css/style.css'%}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{%static 'app/css/main.css' %}">
        <!--js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script src="{%static 'app/js/owl.carousel.min.js'%}"></script>
        <script src="{%static 'app/js/all.min.js'%}"></script>
        <script src="{%static 'app/js/myscript.js'%}"></script>
        <script src="{%static 'app/js/cart.js'%}"></script>
        <script type="text/javascript">
          var user = '{{request.user}}'
          function  getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== ''){
              const cookies = document.cookie.split(';');
              for (let i=0;i<cookies.length;i++){
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          const csrftoken = getCookie('csrftoken')
        </script>
        <title>Web ban hang online</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <div class="content-wrapper">
        <!--Header-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{%static 'app/images/Neel.png' %}" width="50" height="50"/>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-tar get="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Trang chủ</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'intro' %}">Chính sách</a>
                  </li> -->
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Chính sách
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'intro' %}">Chính sách mua hàng</a></li>
                      <li><a class="dropdown-item" href="{% url 'guarantee' %}">Chính sách bảo hành</a></li>
                      <li><a class="dropdown-item" href="{% url 'transport' %}">Chính sách vận chuyển</a></li>
                  </ul>
                  </li> -->
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'list_product' %}?attribute=Iphone">Iphone</a></li>
                      <li><a class="dropdown-item" href="{% url 'list_product' %}?attribute=SamSung">Samsung</a></li>
                      <li><a class="dropdown-item" href="{% url 'list_product' %}?attribute=Nokia">Nokia</a></li>
                      <li><a class="dropdown-item" href="{% url 'list_product' %}?attribute=Accessories">Phụ kiện</a></li>
                  </ul>
                  </li> -->
                  <div class="menu">
                    <button class="menu-button" onclick="toggleMenu()">☰ Danh Mục</button>
                    <div class="dropdown" id="menuDropdown">
                        <div class="has-submenu">
                            <a href="#" onclick="toggleSubMenu(event)">📱 Điện thoại</a>
                            <div class="submenu" id="phoneMenu">
                                <div class="column">
                                    <h4>iPhone</h4>
                                    <a href="{% url 'list_product' %}?attribute=16Series">iPhone 16 Series</a>
                                    <a href="#">iPhone 15 Series</a>
                                    <a href="#">iPhone 14 Series</a>
                                </div>
                                <div class="column">
                                    <h4>Samsung</h4>
                                    <a href="#">Samsung S25 Series</a>
                                    <a href="#">Samsung S24 Series</a>
                                    <a href="#">Samsung S23 Series</a>
                                </div>
                                <div class="column">
                                    <h4>Xiaomi</h4>
                                    <a href="#">Xiaomi 14 Series</a>
                                    <a href="#">Xiaomi 13 Series</a>
                                    <a href="#">Redmi 13 Series</a>
                                </div>
                            </div>
                        </div>
                        <a href="#">💻 Máy tính bảng</a>
                        <a href="#">🖥️ Macbook</a>
                        <a href="#">⌚ Đồng hồ thông minh</a>
                        <a href="#">🎧 Âm thanh</a>
                        <a href="#">🔥 Khuyến mãi</a>
                    </div>
                  </div>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="{%url 'contract'%}">Liên hệ</a>
                  </li> -->
                </ul>
                <div class="d-flex align-items-center header">
                  <!-- Giỏ hàng -->
                  <div class="cart">
                    {%if user.is_authenticated %}
                      <a href="{% url 'cart' %}">
                          <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Giỏ hàng">
                      </a>
                      <p id="cart-total" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          {{ cartItems }}
                      </p>
                      {%endif%}
                  </div>
              
                  <!-- Ô tìm kiếm -->
                    <div class="header">
                      {%if user.is_authenticated %}
                      <form class="d-flex" role="search" method="GET" action="{% url 'search' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="text" placeholder="Tìm kiếm" aria-label="Search" name="q">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi bi-search"></i> Tìm kiếm
                        </button>
                      </form>
                      {%else%}
                      <button class="btn btn-outline-success" type="submit"><i class="bi bi-box-arrow-in-left"></i> <a href="{%url 'login'%}">Đăng nhập</a></button>
                      {%endif%}
                    </div>
                </div>             
              </div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 he">
                <div class="form-inline my-2 my-lg-0 header">
                  {%if user.is_authenticated %}
                  <!-- <span>hi! {{request.user}}</span> -->
                  <button class="btn btn-outline-success" type="submit"><i class="bi bi-box-arrow-in-right"></i><a href="{%url 'logout'%}">Đăng xuất</a></button>
                  <!-- <span><a href="{%url 'logout'%}">Logout</a></span> -->
                  {%else%}
                  <!-- <span><a href="{%url 'login'%}">Login</a></span> -->
                  {%endif%}
                  <!-- <span>hi! {{request.user}}</span>
                  <span><a href="{%url 'logout'%}">Logout</a></span> -->
                </div>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="{%url 'login'%}">Đăng nhập</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Đăng ký</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Xem thêm
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Trang cá nhân</a></li>
                    <li><a class="dropdown-item" href="{%url 'login'%}">Đăng nhập</a></li>
                    <li><a class="dropdown-item" href="{%url 'register'%}">Đăng ký</a></li>
                </ul>
                </li> -->
              </ul>
              <!-- <div class="form-inline my-2 my-lg-0">
                <a href="{%url 'cart' %}"><img id="cart-icon" src="{%static 'images/cart.png'%}"></a>
                <p id="cart-total">{{cartItems}}</p>
              </div> -->
            </div>
          </nav>

        <!--Main Body-->
        {% block banner_slider %}{% endblock banner_slider %}
        {% block main-content %}{% endblock main-content %}
        <!--giao diện cart-->
        {% block cart_content %}{% endblock cart_content %}
        <!--giao diện checkout-->
        {% block content_checkout %}{% endblock content_checkout %}
        <!--giao diện register-->
        {% block register %}{% endblock register %}
        <!--giao diện login-->
        {% block login %}{% endblock login %}
        <!--giao diện search-->
        {% block search %}{% endblock search %}
        <!--giao diện giới thiệu-->
        {% block intro %}{% endblock intro %}
        <!--giao diện hiển thị list sản phẩm lựa chọn trên dropdown-->
        {% block list_product %}{% endblock list_product %}
        <!--Giao diện contract-->
        {% block contract%}{% endblock contract%}
        <!--Giao diện thông tin từng sản phẩm-->
        {% block product_detail %}{% endblock product_detail %}
        <!--Giao diện store list-->
        {% block store_list %}{% endblock store_list %}
        <!--Giao diện thông tin vận chuyển-->
        {% block transport %}{% endblock transport %}
        <!--Giao diện chính sách bảo hành-->
        {% block guarantee %}{% endblock guarantee %}
        <!--Giao diện trang thanh toán sau khi điền thông tin-->
        {% block paymentmethod%}{% endblock paymentmethod%}
        <!--footer-->
      </div>
      <footer class="bg-secondary text-white text-center text-lg-start">
          <div class="container py-4">
              <div class="row">
                  <!-- Cột Sản phẩm -->
                  <div class="col-lg-3 col-md-6 mb-4">
                      <h6 class="text-uppercase">Sản phẩm</h6>
                      <ul class="list-unstyled">
                          <li><a href="{% url 'list_product' %}?attribute=Iphone" class="text-white"><i class="bi bi-apple"></i> Iphone</a></li>
                          <li><a href="{% url 'list_product' %}?attribute=SamSung" class="text-white"><i class="bi bi-android2"></i> Samsung</a></li>
                          <li><a href="{% url 'list_product' %}?attribute=Accessories" class="text-white"><i class="bi bi-tools"></i> Phụ kiện</a></li>
                      </ul>
                  </div>
      
                  <!-- Cột Thông tin liên hệ -->
                  <div class="col-lg-3 col-md-6 mb-4">
                      <h6 class="text-uppercase">Thông tin liên hệ</h6>
                      <ul class="list-unstyled">
                          <li><a href="{% url 'contract' %}" class="text-white"><i class="bi bi-telephone-inbound"></i> Liên hệ với chúng tôi</a></li>
                          <li><a href="{% url 'store_list' %}" class="text-white"><i class="bi bi-geo-alt"></i> Hệ thống cửa hàng</a></li>
                      </ul>
                  </div>
      
                  <!-- Cột Chính sách -->
                  <div class="col-lg-3 col-md-6 mb-4">
                      <h6 class="text-uppercase">Chính sách</h6>
                      <ul class="list-unstyled">
                          <li><a href="{% url 'intro' %}" class="text-white"><i class="bi bi-arrow-right-square"></i> Chính sách mua hàng</a></li>
                          <li><a href="{% url 'guarantee' %}" class="text-white"><i class="bi bi-arrow-right-square"></i> Chính sách bảo hành</a></li>
                          <li><a href="{% url 'transport' %}" class="text-white"><i class="bi bi-arrow-right-square"></i> Chính sách vận chuyển</a></li>
                      </ul>
                  </div>
      
                  <!-- Cột Hỗ trợ thanh toán -->
                  <div class="col-lg-3 col-md-6 mb-4">
                      <h6 class="text-uppercase">Hỗ trợ thanh toán</h6>
                      <div>
                          <img src="{% static 'app/images/banner/payment-methods.png' %}" alt="Phương thức thanh toán" class="img-fluid">
                      </div>
                  </div>
              </div>
          </div>
      
          <!-- Dòng bản quyền -->
          <div class="text-center py-3 bg-dark">
              © 2025 - Website Bán Hàng | <a class="text-white" href="http://127.0.0.1:8000/">hungtd36</a>
          </div>
      </footer>
      
        <script src="{%static 'app/js/cart.js'%}"></script>
        <script>
          function toggleMenu() {
              var menu = document.getElementById("menuDropdown");
              menu.style.display = (menu.style.display === "block") ? "none" : "block";
          }
      
          function toggleSubMenu(event) {
              event.preventDefault();
              event.stopPropagation();
              var submenu = document.getElementById("phoneMenu");
              submenu.style.display = (submenu.style.display === "flex") ? "none" : "flex";
          }
      
          document.addEventListener("click", function(event) {
              var menu = document.getElementById("menuDropdown");
              var submenu = document.getElementById("phoneMenu");
              var button = document.querySelector(".menu-button");
      
              if (!menu.contains(event.target) && !button.contains(event.target)) {
                  menu.style.display = "none";
                  submenu.style.display = "none";
              }
          });
      </script>
    </body>
</html>