{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!-<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block intro %}
        <div class="box-element-intro">
            <div class="policy-container">
                <h2 style="text-align: center;">CHÍNH SÁCH MUA HÀNG</h2>
                <p>Cảm ơn Quý khách hàng đã tin tưởng lựa chọn đặt hàng tại Neel. Với Quý khách tỉnh ở xa Neel có hỗ trợ ship toàn quốc, thời gian nhận máy dao động từ 1-3 ngày tuỳ theo vị trí địa lý. Quy trình đặt hàng online như sau:</p>
                <div class="policy-step">
                    <strong>Bước 1: ĐẶT HÀNG</strong>
                    <p>Quý khách có thể thêm trực tiếp sản phẩm vào giỏ hàng  trên website bằng cách thực hiện các bước sau: Mua ngay > Thêm vào giỏ hàng. Tại đây Quý khách điền các thông tin người nhận cần thiết (Họ tên, SĐT, Địa chỉ nhận hàng,..) sau đó nhấn vào Đặt hàng để hoàn thành đơn hàng.</p>
                </div>
                <div class="policy-step">
                    <strong>Bước 2: XÁC NHẬN ĐƠN HÀNG</strong>
                    <p>Sau khi đơn hàng được xác nhận trên hệ thống, bộ phận Kinh doanh Neel sẽ sớm liên hệ lại Quý khách để xác nhận đơn hàng và thời gian nhận hàng.</p>
                </div>
                <div class="policy-step">
                    <strong>Bước 3: TEST MÁY</strong>
                    <p>Các sản phẩm được đóng gói đều được trải qua 15 bước test máy kỹ lưỡng và chuyên nghiệp.</p>
                </div>
                <div class="policy-step">
                    <strong>Bước 4: GIAO HÀNG</strong>
                    <p>Ngay sau khi xác nhận giao dịch thành công, Neel sẽ chuyển phát đơn hàng sang dịch vụ của Viettel Post và gửi lại cho khách hàng Mã Vận Đơn của đơn hàng</p>
                    <a href="https://viettelpost.com.vn/tra-cuu-hanh-trinh-don/" target="_blank">Khách hàng có thể tra cứu lộ trình đơn hàng của mình tại đây</a>
                </div>
                <div class="policy-step">
                    <strong>Bước 5: NHẬN HÀNG VÀ THANH TOÁN</strong>
                    <p>Khách hàng nhận hàng kiểm tra hình thức máy, đối chiếu imei trên hóa đơn và imei trên máy. Khi đã yên tâm hài lòng với sản  phẩm, khách hàng thanh toán toàn bộ số tiền còn lại.</p>
                </div>
            </div>
        </div>
        {% endblock intro%}
    </body>
</html>